body {
    background: #dfccfb;
}

/* game containers  */

.game-container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game-container div {
    background: white;
    margin: 1rem;
    flex-basis: 17%;
    height: 15vh;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hide {
    background: white !important;
    transition: 2s ease-in;
    transition: 0.5s ease-out;
}

/* game -bar  */
#restart {
    padding: 0.5rem 1.5rem;
}

.game-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.game-bar-left {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.guess {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.best-score {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

@media (max-width: 450px) {
    .game-container div {
        margin: 0.5rem;
        flex-basis: 17%;
    }
    .guess {
        gap: 0rem;
    }
    .best-score {
        gap: 0rem;
    }
    .game-container {
        flex-basis: 95%;
    }
    .game-bar-left {
        flex-basis: 50%;
    }
    .game-bar-left {
        gap: 1rem;
    }
}
