body {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0)), url("./images/984942.jpg") no-repeat;
    background-size: 100% 100vh;
    font-family: "Spicy Rice";
}

/* game containers  */

.game-container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game-container div {
    margin: 1rem;
    flex-basis: 17%;
    height: 19vh;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hide {
    background: url("./images/pngtree-tarot-card-divination-mysterious-eyes-png-image_3833480.jpg") no-repeat !important;
    background-size: 100% 100% !important;
    transition: 2s ease-in;
    transition: 0.5s ease-out;
}

/* game -bar  */
.restart-button {
    color: #efe1d1;
    font-size: 2.5rem;
    cursor: default;
}

.game-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.guess {
    color: #efe1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
.best-score {
    color: #efe1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
.guess,
.best-score {
    font-size: 2rem;
}

/* restart-confirmation  */

.restart-confirmation {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    color: #efe1d1;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}
.confirm-decide {
    padding: 3rem;
    background: #003c6e;
    border-radius: 7px;
    box-shadow: 0 0 5000px 50px rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
}
.yes-no {
    display: flex;
    justify-content: space-around;
}
.yes-no p {
    cursor: default;
    display: inline-block;
}

@media (max-width: 450px) {
    body {
        background-size: 170% 100vh;
    }
    .game-container div {
        margin: 0.5rem;
        flex-basis: 20%;
        height: 12vh;
    }
    .guess,
    .best-score {
        font-size: 1rem;
    }
    .restart-button {
        font-size: 1.3rem;
    }
    .game-container {
        margin-top: 2rem;
        flex-basis: 90%;
    }
    .restart-confirmation {
        font-size: 1.5rem;
        justify-content: center;
        left: 10%;
        right: 10%;
    }
}

.noDisplay {
    display: none;
}
