/* global   */
a {
    text-decoration: none;
}

/* header  */
header {
    display: flex;
    background: #614bc3;
    justify-content: center;
}
header h1 {
    color: white;
}
body {
    background: #33bbc5;
}

.head-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.head-line h1 {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.start-button {
    display: flex;
    justify-content: center;
}
.button {
    padding: 2rem 3rem;
    background: #614bc3;
    border-radius: 5px;
}
.button a {
    font-size: 3rem;
    color: white;
}

@media (max-width: 550px) {
    .head-line h1 {
        font-size: 2rem;
    }
    .button {
        padding: 0.5rem 1rem;
        background: #614bc3;
        border-radius: 5px;
    }
    .button a {
        font-size: 2.6rem;
        color: white;
    }
}

@media (max-width: 450px) {
    .head-line h1 {
        font-size: 2rem;
    }
    .start-button {
        display: flex;
        justify-content: center;
    }
    .button {
        padding: 0.5rem 1rem;
        background: #614bc3;
        border-radius: 5px;
    }
    .button a {
        font-size: 2rem;
        color: white;
    }
}
