/* global   */
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

/* header  */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding-top: 5rem;
}
header h1 {
    color: white;
    font-size: 5rem;
    font-family: Akronim;
    font-weight: 400;
}
body {
    background: url("./images/dark-background.jpg") no-repeat;
    background-position-y: -10vh;

    font-family: "Spicy Rice";
}
.head-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.head-line h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.start-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.button {
    border-radius: 5px;
}
.button a {
    font-size: 3rem;
    color: #efe1d1;
    cursor: default;
}
.difficulty {
    margin-top: 1rem;
    cursor: default;
    color: #efe1d1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.difficulty-menu {
    display: flex;
    justify-content: center;
}
.difficulty-menu ul {
    flex-basis: 30%;
    border-radius: 7px;
    margin-top: 2rem;
    padding: 1rem 0;
    cursor: default;
    color: #efe1d1;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.difficulty-menu p {
    display: block;
}

@media (max-width: 450px) {
    header h1 {
        font-size: 4rem;
    }
    .head-line {
        margin-top: 3rem;
    }

    .button {
        border-radius: 5px;
    }
    .button a {
        font-size: 2rem;
    }
    .difficulty {
        font-size: 2rem;
    }

    .difficulty-menu ul {
        flex-basis: 30%;
        border-radius: 7px;
        margin-top: 2rem;
        padding: 1rem 0;
        cursor: default;
        color: #efe1d1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .difficulty-menu p {
        display: block;
    }
}

.noDisplay {
    display: none;
}
